.footer {
  background: linear-gradient(#323232 , black);
  color: white;
  padding: 10px;
  bottom: 0;
  width: 100%;
  a {
    color: #323232;
    text-decoration: inherit;
  }
}

.footer img {
  text-decoration: none;
  display: inline;
  padding: 5px;
  height: 40px;
  width: 40px;
  border-radius: 30px;
}

