.projects {
  h1 {
    text-align: center;
    margin-bottom: 30px;
  }
  .row {
    figure {
      margin-bottom: 25px;
      position: relative;
      opacity:0;
      transform: translateX(-20px);

      &.is-showing {
        opacity:1;
        transform:translateX(0px);
      }
    }
  }
}

.projects {
  margin: 0 auto;
  width: 100%;
  .box {
    margin: 10px;
    width: 300px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);
    border-radius: 7px;
    text-align: center;
    img {
      max-width: 100%;
      height: auto;
    }
  }
}

/*masonary*/

#masonry-container {
  background: #FFF;
  padding: 5px;
  margin-bottom: 20px;
  border-radius: 5px;
  clear: both;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
}

.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }

.col1 { width: 80px; }
.col2 { width: 180px; }
.col3 { width: 280px; }
.col4 { width: 380px; }
.col5 { width: 480px; }

.col1 img { max-width: 80px; }
.col2 img { max-width: 180px; }
.col3 img { max-width: 280px; }
.col4 img { max-width: 380px; }
.col5 img { max-width: 480px; }