.projects {
  h1 {
    text-align: center;
    margin-bottom: 30px;
  }
  .row {
    figure {
      margin-bottom: 25px;
      position: relative;
      opacity:0;
      transform: translateX(-20px);

      &.is-showing {
        opacity:1;
        transform:translateX(0px);
      }
    }
  }
}

