<header class="matrix-box" id="home">
  <div class="name-box">
    <h1>ANDY-DEV</h1>
    <h3>Web Developer</h3>
  </div>

  <div class="quote-box">
    <h3>Welcome.. to the real world</h3>
  </div>
</header>
