<div class="projects-box" >

  <div class="title-projects" id="projects">
    <h1>Projects</h1>
  </div>


  <div id="masonry-container" class=" projects transitions-enabled centered clearfix masonry">


    <div class="box panel panel-default">
      <img src="/landing_nepal.png" style="height:300px; width:300px;" />
        <h4>See the Need</h4>
        <p><a href="https://nepal-relief.herokuapp.com"><i class="fa fa-home">Website</i></a> <a href="https://github.com/zbarnes757/nepal-relief"><i class="fa fa-github"> Source Code</i></a></p>
      </div>

    <div class="box panel panel-default">
      <img src="/landing_vol.png" style="height:300px; width:300px;"/>
      <h4>Volunteer.me</h4>
      <p><a href="http://blog.devbootcamp.com/2015/building-apps-that-matter-at-coding-bootcamp-hannahs-story/"><i class="fa fa-home">Featured</i></a> <a href="https://github.com/dmarquezdlt/volunteer.me"><i class="fa fa-github"> Source Code</i></a></p>
    </div>

    <div class="box panel panel-default">
      <img src="/landing_waitneat.png" style="height:300px; width:300px;"/>
      <h4>Wait and Eat</h4>
      <p><a href="https://waitandeat-andydev.firebaseapp.com"><i class="fa fa-home">Website</i></a> <a href="https://github.com/andy-dev/angular-app"><i class="fa fa-github"> Source Code</i></a></p>
    </div>

    <div class="box panel panel-default">
      <img src="/landing_elapser.png" style="height:300px; width:300px;"/>
      <h4>Elapser Gem</h4>
      <p><a href="https://rubygems.org/gems/elapser"><i class="fa fa-home">Website</i></a> <a href="https://github.com/andy-dev/elapser"><i class="fa fa-github"> Source Code</i></a></p>
    </div>

    <div class="box panel panel-default">
      <img src="/landing_codeSf.png" style="height:300px; width:300px;"/>
      <h4>Code for San Francisco</h4>
      <p><a href="http://codeforsanfrancisco.org/hackforchange"><i class="fa fa-home">Website</i></a> </p>
    </div>

    <div class="box panel panel-default">
      <img src="/landing_movie.png" style="height:300px; width:300px;"/>
      <h4>Movie Quote Trivia</h4>
      <p><a href="https://guarded-depths-2230.herokuapp.com/"><i class="fa fa-gamepad">Play Game!</i></a></p>
    </div>

    <div class="box panel panel-default">
      <img src="/landing_solmap.png" style="height:300px; width:300px;"/>
      <h4>Solmap</h4>
      <p><a href=""><i class="fa fa-home">Website</i></a> <a href=""><i class="fa fa-github"> Source Code</i></a></p>
    </div>
  </div>

</div>