<div class="row">
  <div class="col-md-12"> <img alt="sf" src="/assets/code1.png" /> </div>
</div>
  <div class="row">
  <div class="col-md-12"> <img alt="sf" src="/assets/code2.png" /> </div>
</div>
