 <footer>
  <div class="container footer"  style="width:100%">
    <div class="row">
      <center>
      <div class="col-md-12">
          <a href= "https://github.com/andy-dev" > <img src= "/footer_github_logo.png"> </img></a>
          <a href= "https://www.linkedin.com/in/andresmacedo" > <img src= "/footer_linkedin_logo.png"> </img></a>
          <a href= "https://twitter.com/Macedo88" > <img src= "/footer_twitter_logo.png"> </img></a>
          <a href= "http://instagram.com/armacedo" > <img src= "/footer_instagram_logo.png"></img></a>
        </div>
      </center>
    </div>
  </div>
</footer>