 <footer>
  <div class="row footer-stuff">
    <div class="col-md-3"><strong>FIND US ON</strong>
      <ul>
        <li><a href="">Twitter</a></li>
        <li><a href="">Facebook</a></li>
        <li><a href="">Pinterest</a></li>
        <li><a href="">Instagram</a></li>
      </ul>
    </div>
    <div class="col-md-3"><strong>Cool Links</strong>
      <ul>
        <li><a href="">Red Robin</a></li>
        <li><a href="">Emerald Eagle</a></li>
        <li><a href="">Crimson Crane</a></li>
        <li><a href="">Auburn Abbot</a></li>
      </ul>
    </div>
    <div class="col-md-6">
      <p><strong>Sign Up for the newsletter</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
      <form class="row">
        <div class="col-md-8">
          <input type="email" placeholder="Your Email" class="u-full-width">
        </div>
        <div class="columns four">
          <input type="submit" class="button-primary">
        </div>
      </form>
    </div>
  </div>
</footer>