<div class="about">
  <div class="row">
  <h1>About</h1>

    <div class="col-md-4">
      <img src="/assets/cover_canyon.jpg/"  class="img-responsive center-block">

    </div>

    <div class="col-md-8 bio">
      <p>I have a compelling drive to understand the way things work. I am action-oriented and like to be up and about doing things. I am loyal to my causes and beliefs and believe programming to be a canvas to express rational, logical and artistic problem solving. </p>

      <p>Working in a trading desk for many years, I learned to work under stress and vast amounts of responsibility. Market fluctuations and intense atmosphere elevated my sense of expediency and grasp of the details which enables quick, effective decisions.</p>

      <p>Competitive equestrian show jumper for 10+ years and represented Mexico in multiple international events.</p>
    </div>

  </div>
</div>