<div class="projects-box">

  <div class="title-projects">
    <h1>Projects</h1>
  </div>

  <div id="masonry-container" class=" projects transitions-enabled centered clearfix masonry">

    <div class="box panel panel-default">
      <img src="/landing_nepal.png" style="height:300px; width:300px;"/>
    </div>

    <div class="box panel panel-default">
      <img src="/landing_vol.png" style="height:300px; width:300px;"/>
    </div>

    <div class="box panel panel-default">
      <img src="/landing_waitneat.png" style="height:300px; width:300px;"/>
    </div>

    <div class="box panel panel-default">
      <img src="/landing_elapser.png" style="height:300px; width:300px;"/>
    </div>

    <div class="box panel panel-default">
      <img src="/landing_codeSf.png" style="height:300px; width:300px;"/>
    </div>

    <div class="box panel panel-default">
      <img src="/landing_movie.png" style="height:300px; width:300px;"/>
    </div>

    <div class="box panel panel-default">
      <img src="/landing_solmap.png" style="height:300px; width:300px;"/>
    </div>
  </div>

</div>