// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.navbar-brand {
  font-size: 14px;
}

.navbar .navbar-brand {
  color: white;
  word-spacing: 2px;
}

.navbar .navbar-brand:hover {
  color: grey;
}

.navbar-nav > li{
  margin-left:20px;
}

.navbar .nav > li > a {
    text-decoration: none;
    color:  white;
    word-spacing: 2px;
}

.navbar .nav > li > a:hover {
    color:  grey;
}


/*body {
    font-family: "Myriad", Helvetica, Arial, sans-serif;
    font-size: 18px;
}*/

/*@media (max-width: 1000px) {
  .navbar-header {
      float: none;
  }
  .navbar-left,.navbar-right {
      float: none !important;
  }
  .navbar-toggle {
      display: block;
  }
  .navbar-collapse {
      border-top: 1px solid transparent;
      box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-fixed-top {
  top: 0;
  border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
      display: none!important;
  }
  .navbar-nav {
      float: none!important;
  margin-top: 7.5px;
  }
  .navbar-nav>li {
      float: none;
  }
  .navbar-nav>li>a {
      padding-top: 10px;
      padding-bottom: 10px;
  }
  .collapse.in{
    display:block !important;
  }
}*/