.title-projects {
  text-align: center;
}

.projects {
  margin-top: 20px;

  .box {
    margin: 5px;
    width: 300px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);
    border-radius: 7px;
    h4 {
      text-align: center;
    }
    img {
      max-width: 100%;
      height: auto;
    }
    .fa-home{
      margin-left: 10px;
      margin-right: 110px;
    }
    .fa-gamepad{
      margin-left: 10px;
    }
    .sol {
      margin-left: 10px;
    }
  }
}

/*masonary*/
#masonry-container {
  margin: 0 auto;
  background: #FFF;
  padding: 5px;
  margin-bottom: 15px;
  border-radius: 5px;
  clear: both;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
}

.imgDescription {
  position: absolute;
  top: 0;
  bottom: 30px;
  left: 0;
  right: 0;
  background: transparentize(black, 0.2);
  color: #fff;
  visibility: hidden;
  opacity: 0;
}

.box:hover .imgDescription {
  visibility: visible;
  opacity: 1;
  font-size: 14px;
  padding-top: 115px;
  padding-left: 10px;
  padding-right: 10px;
}